/*Mobile first*/
/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@450&family=Noto+Sans+JP:wght@300;400&display=swap'); 

:root {
    /* Colors: */
    --accent-dark-turq: #007A89;
    --accent-light-turq: #00CCD8;
    --accent-dark-orange: #E35041;
    --accent-light-orange: #F64136;

    --bg-dark: #1C1C1C;
    --bg-light: #F7F2F0;
    --bg-blue: #D1DEE0;
    --body-text-color:#707070;
    --link-hover:#B2B1AE;
     
    /* Fonts */
    --headings-font-family:'Montserrat', sans-serif;
    /* --body-font-family:'Teko', sans-serif; */
    --body-font-family:'opensans-bold', sans-serif;
}

.text-align {
    /* align-items: center; */
    text-align: center;
}
.center {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}
.center2 {
    justify-content: center;
    text-align: center;
    position: relative;
}

/*----------------------------- Heading Styles -----------------------------*/
h1 {
    font-family: var(--headings-font-family);
    /* font-family: var(--body-font-family); */
    line-height: 150%;
    font-weight: bold;
    color: white;
    letter-spacing: 0.5rem;
    font-size: 30px;
    /* font-size: calc(10px + 3.5vw); */
    text-shadow: 0px 1px 2px rgb(0 0 0 / 50%);
    margin-top: 260px;
}
h2 {
    font-family: var(--headings-font-family);

}
h3 {
    font-family: var(--headings-font-family);
}
h4 {
    font-family: var(--body-font-family);
    font-weight: 550;
    font-size: 1rem;
    line-height: 1.875;
    letter-spacing: .4rem;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding: 0px!important;
}
.dark { color: white; }
.light { color: var(--accent-dark-turq); }
h5 {
    font-family: var(--body-font-family);
    font-weight: 400;
    font-size: 1.3rem;
}
h6 {
    font-family: var(--headings-font-family);
    font-weight: 450;
    font-size: 0.9rem;
    color: #F64136;
    padding: 8px 0px 0px 0px; /* top right bottom left */
}
h7 {
    font-family: var(--headings-font-family);
    font-weight: 550;
    font-size: 1rem;
    color: black;
    padding: 0px 0px 0px 0px; /* top right bottom left */
}
p {
    /* font-family: 'Teko', sans-serif; */
    font-family: 'opensans-bold', sans-serif;
    font-weight: 250;
    font-size: 0.9rem;
    line-height: 1.875;
    letter-spacing: .2rem;
}
.dark p { color: #bababa; }
.light p { color: #1C1C1C; }
#home p {
    color: white;
    padding-right: calc(50px + 2vw);
    padding-left: calc(50px + 2vw);
    /* font-size: 0.85rem; */
    font-size: max(0.8rem, 1.5vw);
}
#profile p {
    font-weight: 200;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: .11rem;
    text-align: left;
}
.section-intro p {
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.875;
    letter-spacing: .15rem;
}


/*----------------------------- Section Intro Styles -----------------------------*/
.section-intro {
    display: flex;
    justify-content: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}
/* .section-intro h2 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 30px;
} */
.section-intro h2.dark { color: white; }
.section-intro h2.light { color: #1C1C1C; }
.dark .section-intro h2 { color: white; }
.light .section-intro h2 { color: #1C1C1C; }

.section-intro h3 {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.875;
    margin-bottom: 0.3rem;
    letter-spacing: .2rem;
}

.dark .section-intro h3 { color: var(--accent-light-turq); }
.light .section-intro h3 { color: var(--accent-dark-turq); }


/*----------------------------- Lists -----------------------------*/
ul {
    font-weight: 250;
    font-size: 0.8rem;
    line-height: 1.875;
    letter-spacing: .15rem;
    color: #bababa;
    list-style: none outside;
    list-style-type: none;
}

/*----------------------------- Navigation Bar -----------------------------*/
/* ul#nav li a:active { background-color: transparent !important; } */
ul#nav {
    min-height: 48px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
ul#nav li {
    list-style: none;
    height: 36px;
    display: inline-block;
}
ul#nav li a {
    font-family: var(--body-font-family);
    /* font-size: max(11pt, 1vw); */
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 8px 13px;
    line-height: 50px;
    text-decoration: none;
    color: #fff;
}

ul#nav a.active {
    color: var(--accent-light-turq);
}
#nav-wrap {
    width: 100%;
    height: max(3rem, 4vw);
    letter-spacing: 2.5px;
    z-index: 100;
    position: fixed;
    background-color: #1C1C1C;
    /* backdrop-filter: invert(80%) blur(10px); */
    /* display: flex; */
}

/*----------------------------- Header Styles -----------------------------*/
header {
    position: relative;
    height: 100vh;
    /* min-height: 500px; */
    width: 100%;
    background: url(../img/lake1.png) no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
}
.top {
    width: 100%;
    height: 702px;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin: 0 auto;
}
header .social, #contact .social {
    text-shadow: 0px 1px 2px rgb(0 0 0 / 80%);
    align-items: center;
    padding: 0;
}
header .social li a, #contact .social li a {
    color: #fff;
    /* padding: 10px 10px 0px 10px; top right bottom left */
    font-size: 20px;
}
header .social li, #contact .social li {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
}
li {
    line-height: 18px;
}

/*----------------------------- About Section -----------------------------*/
#about {
    background-color: #1C1C1C;
    padding-top: 80px;
    padding-bottom: 90px;
    margin: 0px;
    min-height: 868px;
}
img#profile-img {
    position: relative;
    /* bottom: 0px; */
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    /* margin: 0rem 1rem 0rem 1rem; */
}
#profile {
    text-align: center;
}
#profile div.row.justify-content-center {
    --bs-gutter-x: 0;
}
.test1 {
    padding: 0!important;
    margin: 0px; /* top right bottom left */
}
#test2 {
    margin: 0px 1rem 0px 0px!important; /* top right bottom left */
}
#about #about-me {
    align-items: normal;
}
#profile-left, #profile-right {
    padding-top: 4vh!important;
    padding-left: 48px;
    padding-right: 48px;
}
.about-content {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}
.profile-skills-content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    position: relative;
}
.profile-skills-content p#sub-p, .profile-skills-content p#sub-p-first {
    font-family: var(--body-font-family);
    color: grey;
    font-size: 11px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 20px 0px 0px 0px; /* top right bottom left */
    margin-bottom: 0px;
}
.profile-skills-content p#sub-p + p, .profile-skills-content p#sub-p-first + p {
    font-family: var(--body-font-family);
    color: rgb(219, 219, 219);
    font-size: 14px;
    font-weight: normal;
    letter-spacing: .15rem;
    margin-bottom: 0px;
    padding-left: 0px;
}
.skills-col {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0px;
}
.skills-col p {
    font-family: var(--body-font-family);
    color: rgb(219, 219, 219);
    font-size: 14px;
    font-weight: normal;
    letter-spacing: .15rem;
    line-height: 30px;
    margin-bottom: 0px;
}
/* .row.profile-skills-content.justify-content-center {
    margin: 0px!important;
} */


/*----------------------------- Resume Section -----------------------------*/
#resume {
    margin: 0 auto;
    background-color: #F7F2F0;
    position: relative;
    padding: 105px 0 90px;
}
.cd-timeline-block {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}
.resume-timeline-img {
    /* background-image: url('../img/cat.jpg'); */
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--accent-dark-turq), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    visibility: hidden;
}
.resume-timeline-img img {
    display: block;
    width: 100%;
    position: relative;
    visibility: hidden;
}
.resume-timeline-img.cd-picture {
  background: black;
}
.resume-timeline-content {
    position: relative;
    background: none;
    border-radius: 0.25em;
    margin-bottom: 15px;
}
div.vline {
    position: absolute;
    width: 5px;
    height: 100%;
    background: #7D9698;
    border-radius: 5px;
    /* margin-left: 25px; */
    opacity: 15%;
    visibility: hidden;
}
div.vline-small-screen {
    visibility: visible;
}

.resume-sub-section {
    margin-top: 20px;
}
.resume-sub-section div.last-vline {
    height: 92%;
    visibility: hidden;
}

#resume-symbol {
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0;
}

#resume p {
    font-weight: 250;
    font-size: 0.65rem;
    line-height: 1.1;
    letter-spacing: .1rem;
    color: grey;
}

/* Experience Section Title */
#resume h4.experience {
    font-family: var(--headings-font-family);
    color: var(--accent-dark-turq);
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.5px;
}
/* Job title */
#resume .cd-timeline-block h4 {
    font-family: var(--headings-font-family);
    color: #3C3C3C;
    padding-top: 5px;
    font-weight: 5px;
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: 1px;
    text-transform: none;
}
/* Dates */
#resume .cd-timeline-block p.date {
    font-size: 12px;
    line-height: 1.875;
    letter-spacing: .12rem;
    text-transform: none;
}
/* Job Description */
#resume .cd-timeline-block ul.job-description {
    font-weight: 250;
    font-size: 12px;
    letter-spacing: .1rem;
    color: grey;

    list-style: circle outside;
    padding-left: 15px;
    margin-bottom: 0px;
}
/* Job Description Bullet */
#resume .cd-timeline-block ul.job-description li {
    padding-bottom: 8px;
}
/* Education Description */
#resume .resume-timeline-content p.blurb {
    margin-top: 0px;
    margin-bottom: 25px;
    font-weight: 300;

    font-size: 12px;
    line-height: 1.875;
    letter-spacing: .12rem;
}

/* Location */
#resume .resume-timeline-content p.cd-date {
    margin-top: 8px;
    margin-bottom: 10px;
    font-weight: 600;

    font-size: 12px;
    line-height: 1.875;
    letter-spacing: .12rem;
    text-transform: none;
}
/* Company */
#resume h2.company {
    color: var(--accent-light-orange);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 5px;
    letter-spacing: 0.1px;
}
div#hline {
    width: 50px;
    height: 3px;
    border-radius: 5px;
    background: #7D9698;
    margin: 0px;
    opacity: 15%;
}

/* Experience Section Title */
#resume .cd-timeline-block h4.project-text {
    color: rgb(84, 84, 84);
    font-weight: 500;
    font-size: 15px!important;
    line-height: 2;
    letter-spacing: 0px;
    text-transform: none;
}
/* Degree */
#resume .cd-timeline-block p.degree {
    color: rgb(38, 38, 38);
    font-weight: 300;
    margin-top: 15px;
    font-size: 15px;
    line-height: 0;
    letter-spacing: 0.08rem;
    text-transform: none;
}

.hide-me {
    display: none;
}


/*----------------------------- Projects Section -----------------------------*/
#projects {
    background-color: #D1DEE0;
    padding-top: 90px;
    padding-bottom: 50px;
    margin: 0px;
}
.project {
    text-align: center;
    padding: 0px 0px 2.5rem 0px; /* top right bottom left */
    overflow: hidden;
}
.site-width {
    width: 100%;
    padding: 2em;
}
.project-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 0.5em;
    
}
.modal-object {
    text-decoration: none;
}
#projects h5 {
    padding: 10px 0px 0px 0px;
}
#projects p {
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.875;
    letter-spacing: .15rem;
}
.project-section {
    display: flex;
    justify-content: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    text-align: center;
}
.project-section p {
    font-size: small;
    padding: 10px;
}
#project1-img {
    padding: 10% 0px 0px 0%; /* top right bottom left */
    object-fit: cover;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/*----------------------------- Contact Section -----------------------------*/
#contact {
    background-image: url("../img/scan50.JPG");
    background-size: cover;
    padding-top: 175px;
    margin: 0px;
    height: 500px;
}

/*screen that is larger than the mobile view, Large Screen*/
@media only screen and (min-width:480px) {
    /*------------- General -------------*/
    h1 {
        font-size: 81px;
    }
    .top {
        width: 105%;
        /* height: auto; */
        background-size: cover;
        background-repeat: no-repeat;
        height: 702px;
    }
    .section-intro h2 {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.5;
        margin-bottom: 1.2rem;
    }
    .section-intro h3 {
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 1.875;
        margin-bottom: 0.3rem;
        letter-spacing: .2rem;
    }

    ul#nav li a {
        /* font-size: max(12pt, 1vw); */
        font-size: 12px;
    }

    /*------------- Home -------------*/
    #home-img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /*------------- About -------------*/
    img#profile-img {
        max-width: 175px;
        bottom: min(calc(8vw - 35px), 40px);
        width: 75%;
        object-fit: cover;
        /* margin: 0rem 1rem 0rem 0rem; */
    }
    .test1 {
        padding: 0!important;
        margin: 0px 0px 0px 2rem!important; /* top right bottom left */
    }
    /* div.vline, div.vline.last-vline, .resume-timeline-img {
        visibility: visible;
    } */
    #profile div.row.justify-content-md-center {
        --bs-gutter-x: 0;
    }
    #profile p {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.875;
        letter-spacing: .15rem;
    }
    .skills-col {
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 0px;
    }
    .skills-col p {
        font-family: var(--body-font-family);
        color: rgb(219, 219, 219);
        font-size: 14px;
        font-weight: normal;
        letter-spacing: .15rem;
        line-height: 30px;
        /* margin-bottom: 10px; */
    }
    
    /*------------- Resume -------------*/
    /* #resume {
        min-height: 770px;
    } */
    #resume h5 {
        padding-top: 1rem;
        font-size: 1.2rem;
        font-weight: 400;
        color: #007A89;
    }
    #resume-symbol {
        visibility: visible;
        /* height: 50px;
        width: 50px;
        border-radius: 50%; */
    }
    .resume-sub-section {
        margin-top: 10px;
    }

    /*------------- Contact -------------*/
    #contact {
        height: 90vh;
    }
}

/* Screens small - 575 pixels */
@media only screen and (max-width: 575px) {
    #profile p {
        text-align: center;
        margin: 1.2rem 0px 0px 0px; /* top right bottom left */
    }
    #profile-left, #profile-right {
        padding-top: 5vh!important;
        padding-left: 70px;
    }
    .profile-skills-content p#sub-p-first {
        padding: 10px 0px 0px 0px; /* top right bottom left */
    }
    img#profile-img {
        bottom: 0px;
    }

    .section-intro h2 {
        font-size: calc(15px + 1.3vw);
    }

    /* RESUME */
    .job-intro, .project-intro, .edu-intro {
        padding-left: 40px;
    }
    #resume h2.company {
        font-size: 14px;
    }
    #resume .cd-timeline-block p.date {
        margin-bottom: 5px;
    }

}
@media only screen and (max-width: 400px) {
    #profile-left, #profile-right {
        padding-left: 50px;
    }
}

/* Screens 576 --> Largest */
@media only screen and (min-width: 576px) {
    .section-intro {
        text-align: left;
    }
    #profile-left, #profile-right {
        padding-top: auto!important;
        padding-right: 0px!important;
        padding-left: 70px!important;
    }
    #resume h4.experience {
        font-size: 21px;
    }

    /* RESUME */
    .section-intro h2 {
        margin-bottom: 35px;
    }
    div.vline-small-screen {
        visibility: hidden;
    }
    div.vline, div.vline.last-vline, .resume-timeline-img, .resume-timeline-img img {
        visibility: visible;
    }
    #resume-symbol {
        visibility: visible;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
    .hide-me {
        display: flex;
    }
}

@media only screen and (min-width: 768px) {
    .skills-col {
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 0px;
    }
    .skills-col p {
        font-family: var(--body-font-family);
        color: rgb(219, 219, 219);
        font-size: 14px;
        font-weight: normal;
        letter-spacing: .15rem;
        line-height: 30px;
        /* margin-bottom: 10px; */
    }
}


@media only screen and (max-width: 383px) {
    #nav-wrap {
        height: 5.3rem;
    }
    #resume {
        padding: 105px 0 90px;
    }
}